html, body {
    height: 100%; /* Make sure html and body fill the entire viewport */
    font-family: 'Roboto', sans-serif; /* Use Roboto font or fallback to sans-serif */
    margin: 0;
}

.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}


.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Set min-height instead of height */
}

.header-logo {
    margin: 0;
}
.header-logo-text{
    font-size: 24px;
    color: #f9faf8;
}

.hero-section {
  background-color: #1f2937;
}

.top-box {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
}


.top-bar {
    display: flex;
    flex: 1;
    margin-bottom: 50px;
}
.logo-container{
   
    flex:1 ;    
}

.navbar-container{
    flex: 1;
}


.top-box-content {
    display: flex;
}
.top-box-content-left {
    flex:1;
   
    margin-left: 0;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.top-box-content-right{
    flex:1;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sign-up-button{
    background-color: #3882F6;
    margin-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 8px;
    border: none;
}



.hero-main{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0 0 5px 0;

}



.image-place-holder{
    background-color: gray;
    height: 200px;
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
}



.links {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}
.link
{
    
}




.information-section-cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

.information-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    
}

.information-block{
    height: 150px;
    
    border: solid #3882F6;
    border-radius: 10px;
}

.information-text{
    text-align: center;
}

.information-section-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    text-align: center;
    margin: 30px;
}


.quote-section{
    background-color: #E5E7EB;
}
.quote-container {
    margin-top: 5%;
    margin-bottom: 5%;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
}
.author {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    text-align: right;
    margin-right: 20%;
}


.call-to-action-section {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.call-to-action {
    display: flex;
    justify-content:space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 8px;
    background-color: #3882F6;
}
.button-call-to-action {
    border: solid white;
}

.footer-text {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}